In [1]:
import pandas as pd 
import numpy as np

## Import Dataset

In [2]:
df = pd.read_csv('foursquare_dubai_venues.csv')

In [3]:
df.head()

,venue_id,venue_name,categories,city,state,neighborhood,address,venue.location.lat,venue.location.lng,country
0,508e4b2ae4b01ceeb4ae3d37,Arabian Tea House Cafe,Tea Room,Dubai,Dubai,Al Souk Al Kabir,Al Fahidi St,25.263399,55.299695,AE
1,4b7d809af964a520c2c22fe3,Special Ostadi Kabab,Persian Restaurant,Dubai,Dubai,Al Hamriya,At Mankhool Rd,25.259961,55.298940,AE
2,5866b18245c3ed1e7db9931d,Nikki Beach Club,Beach Bar,Dubai,Dubai,NaN,Pearl Jumeirah,25.248306,55.256939,AE
3,556291a3498e3237b9ddf800,Fitness Time,Gym,Dubai,Dubai,NaN,NaN,25.289077,55.347913,AE
4,5a057657065ef54fbdec2747,The Coffee Lab - Mina Rashid,Coffee Shop,Dubai,Dubai,NaN,Port Rashid,25.258735,55.277499,AE

# Get Number of each venue category as features for each adress

### One Hot Encode Categories

In [4]:
dummies = pd.get_dummies(df['categories'])
df = pd.concat([df, dummies], axis=1).drop('categories', axis=1)

In [5]:
df.head()

,venue_id,venue_name,city,state,neighborhood,address,venue.location.lat,venue.location.lng,country,Airport Service,...,Plaza,Residential Building (Apartment / Condo),Resort,Restaurant,Seafood Restaurant,Shoe Store,Shopping Mall,Shopping Plaza,Steakhouse,Tea Room
0,508e4b2ae4b01ceeb4ae3d37,Arabian Tea House Cafe,Dubai,Dubai,Al Souk Al Kabir,Al Fahidi St,25.263399,55.299695,AE,0,...,0,0,0,0,0,0,0,0,0,1
1,4b7d809af964a520c2c22fe3,Special Ostadi Kabab,Dubai,Dubai,Al Hamriya,At Mankhool Rd,25.259961,55.298940,AE,0,...,0,0,0,0,0,0,0,0,0,0
2,5866b18245c3ed1e7db9931d,Nikki Beach Club,Dubai,Dubai,NaN,Pearl Jumeirah,25.248306,55.256939,AE,0,...,0,0,0,0,0,0,0,0,0,0
3,556291a3498e3237b9ddf800,Fitness Time,Dubai,Dubai,NaN,NaN,25.289077,55.347913,AE,0,...,0,0,0,0,0,0,0,0,0,0
4,5a057657065ef54fbdec2747,The Coffee Lab - Mina Rashid,Dubai,Dubai,NaN,Port Rashid,25.258735,55.277499,AE,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df.columns

Index(['venue_id', 'venue_name', 'city', 'state', 'neighborhood', 'address',
       'venue.location.lat', 'venue.location.lng', 'country',
       'Airport Service', 'American Restaurant', 'Asian Restaurant', 'Bakery',
       'Beach', 'Beach Bar', 'Bookstore', 'Boutique', 'Brazilian Restaurant',
       'Burger Joint', 'Café', 'Canal', 'Chinese Restaurant', 'Cocktail Bar',
       'Coffee Shop', 'Cupcake Shop', 'Department Store', 'Diner',
       'Electronics Store', 'Fountain', 'French Restaurant', 'Golf Course',
       'Greek Restaurant', 'Gym', 'Gym / Fitness Center', 'Hookah Bar',
       'Hotel', 'Indian Restaurant', 'Italian Restaurant',
       'Japanese Restaurant', 'Jewelry Store', 'Leather Goods Store', 'Lounge',
       'Mediterranean Restaurant', 'Monument / Landmark', 'Movie Theater',
       'Multiplex', 'Opera House', 'Persian Restaurant', 'Peruvian Restaurant',
       'Plaza', 'Residential Building (Apartment / Condo)', 'Resort',
       'Restaurant', 'Seafood Restaurant', 'Shoe Store', 'Shopping Mall',
       'Shopping Plaza', 'Steakhouse', 'Tea Room'],
      dtype='object')

In [7]:
df = df.groupby('address').sum().drop(['venue.location.lat', 'venue.location.lng'], axis=1)

In [8]:
df.head()

,Airport Service,American Restaurant,Asian Restaurant,Bakery,Beach,Beach Bar,Bookstore,Boutique,Brazilian Restaurant,Burger Joint,...,Plaza,Residential Building (Apartment / Condo),Resort,Restaurant,Seafood Restaurant,Shoe Store,Shopping Mall,Shopping Plaza,Steakhouse,Tea Room
address,,,,,,,,,,,,,,,,,,,,,
1 Mohammed bin Rashid Blvd,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1 Sheikh Mohammed Bin Rashid Boulevard,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
168 Jumeira Rd,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3 Sheikh Zayed Road,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Al Boursa Street DIFC,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df.sum(axis=1).sort_values()

address
1 Mohammed bin Rashid Blvd         1
Mercato Mall                       1
Marasi Drive                       1
La Mer                             1
Jumeirah Bay Island                1
                                  ..
Pearl Jumeirah                     2
Sheikh Mohammed Bin Rashid Blvd    2
Al Wasl                            3
Jumeirah Beach Rd                  4
The Dubai Mall                     9
Length: 77, dtype: int64

##### As seen above, the foursquare dataset does not have enough data points for proper modelling

## Train-Test Split

In [10]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test = train_test_split(df, train_size=0.7)

## Clustering

In [17]:
from sklearn.cluster import KMeans

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [18]:
kmeans1 = KMeans(n_clusters=3)

In [19]:
kmeans1.fit(X_train)

KMeans(n_clusters=3)

## Validation

### Clustering Output on Training Dataset

In [23]:
train_clusters = kmeans1.predict(X_train)

In [24]:
X_train['predicted_clusters'] = train_clusters

<ipython-input-24-ce706002295c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['predicted_clusters'] = train_clusters

In [26]:
X_train.head(2)

,Airport Service,American Restaurant,Asian Restaurant,Bakery,Beach,Beach Bar,Bookstore,Boutique,Brazilian Restaurant,Burger Joint,...,Residential Building (Apartment / Condo),Resort,Restaurant,Seafood Restaurant,Shoe Store,Shopping Mall,Shopping Plaza,Steakhouse,Tea Room,predicted_clusters
address,,,,,,,,,,,,,,,,,,,,,
Mohammed bin Rashid Boulevard,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
"Four Seasons Hotel DIFC, Podium level, Building 9, Gate Village, DIFC, Dubai United Arab Emirates",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Clustering Output on Testing Dataset

In [28]:
test_clusters = kmeans1.predict(X_test)

In [29]:
X_test['predicted_clusters'] = test_clusters

<ipython-input-29-861212089a8b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['predicted_clusters'] = test_clusters

In [30]:
X_test.head(2)

,Airport Service,American Restaurant,Asian Restaurant,Bakery,Beach,Beach Bar,Bookstore,Boutique,Brazilian Restaurant,Burger Joint,...,Residential Building (Apartment / Condo),Resort,Restaurant,Seafood Restaurant,Shoe Store,Shopping Mall,Shopping Plaza,Steakhouse,Tea Room,predicted_clusters
address,,,,,,,,,,,,,,,,,,,,,
"Gate Village 06, DIFC",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3 Sheikh Zayed Road,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2